.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .group-wrapper {
  height: 3328px;
  width: 100%;
}

.frame .group {
  height: 3328px;
  position: relative;
}

.frame .contact {
  background-color: #21153d;
  height: 832px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 2496px;
  width: 1280px;
}

.frame .overlap {
  height: 1559px;
  left: -364px;
  position: relative;
  top: -514px;
  width: 2095px;
}

.frame .overlap-group-wrapper {
  height: 1559px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2095px;
}

.frame .overlap-group {
  height: 1559px;
  position: relative;
}

.frame .ellipse {
  background: radial-gradient(50% 50% at 50% 50%, rgba(162, 89, 255, 0.12) 53.65%, rgba(162, 89, 255, 0) 92.71%);
  border-radius: 502.5px/475.5px;
  height: 951px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1005px;
}

.frame .div {
  background: radial-gradient(50% 50% at 50% 50%, rgba(162, 89, 255, 0.12) 53.65%, rgba(162, 89, 255, 0) 92.71%);
  border-radius: 546px/434.5px;
  height: 869px;
  left: 1003px;
  position: absolute;
  top: 690px;
  width: 1092px;
}

.frame .contacto {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 447px;
  left: 591px;
  position: absolute;
  top: 827px;
  width: 825px;
}

.frame .div-2 {
  -webkit-backdrop-filter: blur(200px) brightness(100%);
  backdrop-filter: blur(200px) brightness(100%);
  
  background-position: 50% 50%;
  background-size: cover;
  border: 0.6px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(132.17, 122.22, 246.5), rgb(188.06, 34.48, 34.48)) 1;
  border-radius: 20px;
  box-shadow: 1px 3px 4px #3935ee40;
  height: 447px;
  margin-left: -3.5px;
  margin-right: -3.5px;
  position: relative;
  width: 832px;
}

.frame .subtitulo {
  color: #000000;
  font-family: "Karla-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 295px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 90px;
  white-space: nowrap;
}

.frame .titulo {
  color: #21153d;
  font-family: "Karla-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 306px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 38px;
  white-space: nowrap;
}

.frame .inputs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  height: 225px;
  left: 295px;
  position: absolute;
  top: 130px;
  width: 470px;
}

.frame .div-wrapper {
  height: 40px;
  margin-right: -2px;
  position: relative;
  width: 472px;
}

.frame .overlap-group-2 {
  background-color: #ffffff;
  border: 0.4px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 40px;
  position: relative;
  width: 470px;
}

.frame .text-wrapper {
  color: #000000;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 12px;
  font-weight: 200;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 249px;
}

.frame .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 12px;
  font-weight: 200;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 295px;
}

.frame .mensaje {
  height: 87px;
  margin-right: -2px;
  position: relative;
  width: 472px;
}

.frame .overlap-2 {
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 87px;
  position: relative;
  width: 470px;
}

.frame .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 12px;
  font-weight: 200;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 299px;
}

.frame .button {
  all: unset;
  box-sizing: border-box;
  height: 28px;
  left: 616px;
  position: absolute;
  top: 380px;
  width: 81px;
}

.frame .overlap-3 {
  background-color: #a259ff;
  border-radius: 10px;
  height: 28px;
  position: relative;
  width: 79px;
}

.frame .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inika-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.frame .informacion {
  height: 447px;
  left: 0;
  position: absolute;
  top: 0;
  width: 264px;
}

.frame .overlap-4 {
  background-color: #ffffff66;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 1px #605dff40;
  height: 447px;
  position: relative;
  width: 260px;
}

.frame .vector {
  height: 32px;
  left: 20px;
  position: absolute;
  top: 317px;
  width: 32px;
}

.frame .img {
  height: 32px;
  left: 20px;
  position: absolute;
  top: 377px;
  width: 32px;
}

.frame .text-wrapper-5 {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 385px;
  white-space: nowrap;
}

.frame .text-wrapper-6 {
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 29px;
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 319px;
  width: 167px;
}

.frame .element {
  height: 261px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 211px;
}

.frame .ready-to-bring {
  color: #ffffff;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 432px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 591px;
  width: 662px;
}

.frame .portfolio {
  background-color: #21153d;
  height: 832px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 1664px;
  width: 1280px;
}

.frame .overlap-5 {
  height: 1384px;
  left: -335px;
  position: relative;
  top: -254px;
  width: 2059px;
}

.frame .group-2 {
  height: 1384px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2059px;
}

.frame .overlap-group-3 {
  height: 1384px;
  position: relative;
}

.frame .ellipse-2 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(162, 89, 255, 0.12) 53.65%, rgba(162, 89, 255, 0) 92.71%);
  border-radius: 502.5px/475.5px;
  height: 951px;
  left: 0;
  position: absolute;
  top: 433px;
  width: 1005px;
}

.frame .ellipse-3 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(162, 89, 255, 0.12) 53.65%, rgba(162, 89, 255, 0) 92.71%);
  border-radius: 546px/434.5px;
  height: 869px;
  left: 967px;
  position: absolute;
  top: 0;
  width: 1092px;
}

.frame .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 374px;
  position: absolute;
  top: 529px;
}

.frame .div-4 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 64px;
  position: relative;
  width: 1188px;
}

.frame .text-wrapper-7 {
  color: #eccfe2;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 56px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  text-shadow: 4px 4px 3px #ffffff4c;
  width: 348px;
}

.frame .div-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 69px;
  position: relative;
}

.frame .rectangle {
  height: 188px;
  margin-bottom: -8px;
  object-fit: cover;
  position: relative;
  width: 358px;
}

.frame .rectangle-2 {
  height: 188px;
  margin-bottom: -8px;
  margin-right: -8px;
  object-fit: cover;
  position: relative;
  width: 358px;
}

.frame .boosting-financial {
  color: #eccfe2;
  font-family: "Roboto-SemiBoldItalic", Helvetica;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  height: 260px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  text-shadow: 4px 4px 2px #ffffff1a;
  width: 350px;
}

.frame .p {
  color: #ffffff;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 61px;
  left: 374px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 434px;
  width: 1201px;
}

.frame .about {
  background-color: #ffffff;
  height: 832px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 832px;
  width: 1280px;
}

.frame .overlap-6 {
  height: 1212px;
  left: -332px;
  position: relative;
  top: -151px;
  width: 2064px;
}

.frame .group-3 {
  height: 1212px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2064px;
}

.frame .overlap-group-4 {
  height: 1212px;
  position: relative;
}

.frame .rectangle-3 {
  background-color: #21153d;
  height: 835px;
  left: 330px;
  position: absolute;
  top: 148px;
  width: 1282px;
}

.frame .ellipse-4 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(162, 89, 255, 0.12) 53.65%, rgba(162, 89, 255, 0) 92.71%);
  border-radius: 546px/434.5px;
  height: 869px;
  left: 972px;
  position: absolute;
  top: 343px;
  width: 1092px;
}

.frame .div-6 {
  align-items: flex-end;
  display: inline-flex;
  gap: 103px;
  left: 401px;
  position: absolute;
  top: 427px;
}

.frame .group-4 {
  height: 384px;
  position: relative;
  width: 312px;
}

.frame .unexpected-encounter {
  color: #ffffff;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 384px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 310px;
}

.frame .span {
  color: #eccfe2;
}

.frame .text-wrapper-8 {
  color: #eccfe2;
  font-size: 20px;
}

.frame .group-5 {
  height: 384px;
  position: relative;
  width: 316px;
}

.frame .growing-up-with {
  color: #ffffff;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 384px;
  left: 0;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 314px;
}

.frame .text-wrapper-9 {
  color: #eccfe2;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.frame .group-6 {
  height: 350px;
  margin-right: -2px;
  position: relative;
  width: 313px;
}

.frame .from-frontend-to {
  color: #eccfe2;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: 311px;
}

.frame .text-wrapper-10 {
  color: #eccfe2;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
}

.frame .text-wrapper-11 {
  font-size: 20px;
}

.frame .group-7 {
  height: 124px;
  left: 411px;
  position: absolute;
  top: 303px;
  width: 1133px;
}

.frame .building-digital {
  color: #eccfe2;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 124px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 4px 4px 3px #00000066;
  top: 0;
  width: 1131px;
}

.frame .img-2 {
  height: 120px;
  left: 388px;
  position: absolute;
  top: 809px;
  width: 1166px;
}

.frame .landing {
  background-color: #ffffff;
  height: 832px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1280px;
}

.frame .overlap-7 {
 
  background-position: 50% 50%;
  background-size: cover;
  height: 832px;
  position: relative;
}

.frame .overlap-8 {
  height: 250px;
  left: 508px;
  position: absolute;
  top: 167px;
  width: 716px;
}

.frame .text-wrapper-12 {
  color: #ffffffb5;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  height: 54px;
  left: 183px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 196px;
}

.frame .group-8 {
  height: 207px;
  left: 0;
  position: absolute;
  top: 0;
  width: 716px;
}

.frame .overlap-group-5 {
  height: 207px;
  position: relative;
  width: 714px;
}

.frame .rectangle-4 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #331c6480;
  border-radius: 20px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 204px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 712px;
}

.frame .hi-i-m-oscar-an {
  color: #eccfe2;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 52px;
  font-weight: 400;
  height: 207px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #3f09dbb0;
  top: 0;
  width: 714px;
}

.frame .rectangle-wrapper {
 
  background-position: 50% 50%;
  background-size: cover;
  height: 662px;
  left: 0;
  position: absolute;
  top: 170px;
  width: 418px;
}

.frame .rectangle-5 {
  -webkit-backdrop-filter: blur(1px) brightness(100%);
  backdrop-filter: blur(1px) brightness(100%);
  background-color: #3f09db26;
  border-radius: 0px 200px 0px 0px;
  height: 662px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

.frame .div-7 {
  height: 61px;
  left: 883px;
  position: absolute;
  top: 496px;
  width: 188px;
}

.frame .group-9 {
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 151px;
}

.frame .overlap-group-6 {
  background-color: #6b2cc7;
  border-radius: 20px;
  height: 61px;
  position: relative;
  width: 149px;
}

.frame .text-wrapper-13 {
  color: #ffffffb5;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 23px;
  font-weight: 400;
  height: 43px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 107px;
}

.frame .div-wrapper-2 {
  background-color: #6b2cc7;
  border-radius: 20px;
  height: 61px;
  left: 193px;
  position: absolute;
  top: 0;
  width: 149px;
}

.frame .text-wrapper-14 {
  color: #eccfe2;
  font-family: "Koulen-Regular", Helvetica;
  font-size: 23px;
  font-weight: 400;
  height: 43px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 107px;
}

.frame .group-10 {
  height: 45px;
  left: 883px;
  position: absolute;
  top: 588px;
  width: 323px;
}